body {

    background-color: gray !important;
    margin: 0 !important;
    color: white !important;
    font-family: 'Lato', sans-serif !important ;
    font-size: 20px !important;

}



/* #smallMenu {

    background-image: url('logo.jpg');
    width: 300px;
    height: 100px;
    position: fixed;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;

} */



.logo {

    margin: 30px 0;
    text-align: center;


}

#zegar {

    margin: 55px 0;
    font-size: 48px;
    text-align: center;
}

.icon-bar {

    background-color: #1a5570 !important;
}

.navbar-toggle {

    background-color: #4E8D97 !important;
    border: none !important;
}

@media (min-width: 0px) and (max-width: 645px) {

    .borderLI-sx {
        border-left: 1px dashed #A1C0C2;
    }

    ul {
        line-height: 50% !important;
    }


}

@media (min-width: 0) and (max-width: 880px) {

    ul > li {
        width: 300px;
    }

    .borderLI {
        border-left: 1px dashed #A1C0C2;
    }

}

@media (min-width: 0) and (max-width: 767px) {

    #navMenu {
        display: inline !important;
    }

    .tile1Index, .tile11Index, .tile2Index {
        display: none !important;
    }

    #rectangle1 {
        display: none !important;
    }

}



#navMenu {

    font-size: 28px;
    font-weight: bold;
    margin-left: 50px;
    color: #1a5570;
    display: none;

}

ul {

    list-style-type: none;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 5px !important;



}

ul a {
    

    text-decoration: none !important;
    color: #ffffff;

}

ul a:hover {

    color: #dddddd;

}

ul > li {

    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 70px !important;
    border-right: 1px dashed #A1C0C2;
    display: block;

}

ul > li:first-child {

    border-left: 1px dashed #A1C0C2;

}


ul > li:hover {

    background-color: #4E8D90;

}
.logo img:hover {

    opacity: 0.8;

}

[class*="row"] {

    background-color: #222930;
}


#rectangle1 {

    background-color: #161B20 !important;
    padding-bottom: 15px;
    display: block;
}

.rectangle1 {

    background-color: #222930;
    text-align: center;
    padding-bottom: 15px;


}

.rectangle2 {

    background-color: #161B20;
    width: 100%;
    text-align: center;
    display: inline-block;



}

.rectangle2Index {

    background-color: #161B20;
    height: 210px;

}

a.tilelink {

    text-decoration: none;
    color: #ffffff;

}



.navbar {

    background-color: #5F9EA0 !important;
    text-align: center !important;
    padding-top: 5px !important;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    z-index: 100000000 !important;
}

.navbar-collapse {

    border: none !important;

}

#underConstruction {

    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.tile1 {


    width: 242px;
    height: 139px;
    background-color: #F17436;
    font-size: 100px;
    padding-top: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 8px;
    margin-left: 60px;


}

.tile1Index {


    background-color: #F17436;
    font-size: 100px;
    /* display: inline-block; */
    margin-top: 30px;
    margin-bottom: 10px !important;
    text-align: center;
    opacity: 0;


}

.tile11Index {

    background-color: #93c748;
    font-size: 100px;
    /* display: inline-block; */

    margin-top: 30px;
    margin-bottom: 10px !important;
    text-align: center;
    opacity: 0;


}

.tile2Index {

    text-align: left;
    /* display: inline-block; */

    background: #C34F4F;
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 10px !important;
    padding-left: 20px;
    opacity: 0;


}

.tile1:hover {

    background-color: #E06325;

}

.tile11 {

    width: 242px;
    height: 139px;
    background-color: #93c748;
    font-size: 100px;
    padding-top: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 8px;

}



.tile11:hover {

    background-color: #82b637;

}

.tile2 {

    text-align: left;
    display: inline-block;
    width: 400px;
    height: 139px;
    background: #C34F4F;
    font-size: 100px;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;


}



.tile2:hover {

    background-color: #B23E3E;

}

.tileChoiceGame {

    text-align: center;
    display: inline-block;

    background: black;
    padding-top: 10px;
    border: 3px dotted gray;

}

.tileChoiceGame:hover {
    opacity: 0.7;
}



.choiceGame {

    margin: 30px;
    width: 80%;
    height: 80%;
}

.gamechoice {

    text-align: center !important;
}


.content {

    text-align: justify;
    padding: 20px 0;


}

.footer {

    background-color: #161B20;
    padding: 25px;
    text-align: center;

}




.sticky {

    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

}


/*
.square1 {

    width: 208px;
    height: 0;
    position:relative; right: 60px; top: 270px;
    display: inline-block;
    border-right:530px solid yellow;
    border-top:208px solid transparent;
    border-left:0 solid transparent;


}
*/


/* style dla obslugaZdarzen.html  */

.content img {

    margin: 10px;



}

.notAwarded {

    text-decoration: none;
    color: white;
}

#again {
    position: absolute;
    right: 282px;
    top: 220px;
    z-index: 100000;
}

#but {
    height: 100px;
    width: 200px;
    border: 2px black solid;
    background-color: #82b637;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: none;

}

#mailto {

    text-decoration: none;
}

