body {

    background-color: gray;
    margin: 0 !important;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;

}

/* #smallMenu {

    background-image: url('logo.jpg');
    width: 300px;
    height: 100px;
    position: fixed;
    padding: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 999;

} */

.container {

    width: 100%;

}

.logo {

    padding: 30px 0 20px 150px;
    float: left;

}



ol {

    list-style-type: none;
    font-size: 18px;
    line-height: 200%;
    height: 65px;
    margin: 0;
    padding: 0;
    display: inline-block;

}

ol a {
    
    display: block;
    text-decoration: none;
    color: #ffffff;

}

ol a:hover {

    color: #dddddd;

}

ol > li {

    margin-top: 15px;
    float:left;
    width: 200px;
    border-right: 1px dashed #A1C0C2;

}

ol > li:first-child {

    border-left: 1px dashed #A1C0C2;

}


ol > li:hover {

    background-color: #4E8D90;

}
.logo img:hover {

    opacity: 0.8;

}


.rectangle1 {

    background-color: #222930;
    width: 100%;
    text-align: center;

}

.rectangle2 {

    background-color: #161B20;
    width: 100%;
    text-align: center;

}

a.tilelink {

    text-decoration: none;
    color: #ffffff;

}

.nav {

    background-color: #5F9EA0;
    width: 100%;
    text-align: center;

}

.tile1 {

    width: 345px;
    height: 198px;
    background-color: #F17436;
    font-size: 140px;
    padding-top: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;


}

.tile1:hover {

    background-color: #E06325;

}

.tile11 {

    width: 345px;
    height: 198px;
    background-color: #93c748;
    font-size: 140px;
    padding-top: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;

}

.tile11:hover {

    background-color: #82b637;

}

.tile2 {

    text-align: left;
    display: inline-block;
    width: 510px;
    height: 198px;
    background: #C34F4F;
    font-size: 140px;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
    z-index: 1000;

}

.tile2:hover {

    background-color: #B23E3E;

}


.content {

    text-align: justify;
    padding: 30px 150px;

}

.footer {

    background-color: #161B20;
    padding: 25px;
    text-align: center;

}


#zegar {

    padding-top: 55px;
    font-size: 50px;

}

.sticky {

    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

}


/*
.square1 {

    width: 208px;
    height: 0;
    position:relative; right: 60px; top: 270px;
    display: inline-block;
    border-right:530px solid yellow;
    border-top:208px solid transparent;
    border-left:0 solid transparent;


}
*/
