#ships {

    background: url("crosshair.jpg") no-repeat center;
    width: 1024px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    position: relative;
    
}

table{


    width: 800px;
    height: 600px;
    position: absolute;
    top: 90px;
    left: 77px;
    border-spacing: 0;


}

td, tr {

    border: 1px solid white;
    width: 98px;
    height: 73px;


}

.signRow {

    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    width: 88px !important;
    color: darkgreen;
    border: none;

}



.signColumn {

    font-size: 50px;
    text-align: center;
    color: darkgreen;
    border: none;
}

.firstRow {

    border-top: 2px solid white;
}

.firstRow:last-child {

    border-right: 2px solid white;
}

.lastRow {

    border-bottom: 2px solid white;
}

.lastRow:last-child {

    border-right: 2px solid white;
}

.lastColumn {

    border-right: 2px solid white;
}