#ships {

    background: url("crosshair.jpg") no-repeat center;
    width: 1024px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Indie Flower', cursive;


}

table{


    width: 800px;
    height: 600px;
    position: absolute;
    top: 90px;
    left: 77px;
    border-spacing: 0;
    opacity: 1;


}

td, tr {

    border: 1px solid white;
    width: 98px;
    height: 73px;


}

.signRow {

    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    width: 88px !important;
    color: darkgreen;
    border: none;

}



.signColumn {

    font-size: 50px;
    text-align: center;
    color: darkgreen;
    border: none;
}

.firstRow {

    border-top: 2px solid white;


}


.firstRow:last-child {

    border-right: 2px solid white;
}

.lastRow {

    border-bottom: 2px solid white;
}

.lastRow:last-child {

    border-right: 2px solid white;
}

.lastColumn {

    border-right: 2px solid white;

}

.firstColumn {

    border-left: 2px solid white;
}

#messageArea {

    width: 100px;  /* width and height added only for tests */
    height: 50px;
    background: green;
    position: absolute; /* nie jestem pewien czy koniecznie musi to byc - zobaczy sie pozniej */
    top: 0;
    left: 0;
}

form {


    background-color: darkgreen;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 15px;

}

form input {

    background: mediumseagreen;
    border-color: forestgreen;
    font-family: 'Indie Flower', cursive;
    font-size: 0.8em;
    font-weight: bold;

}

